<h3>書籍名で検索</h3>
  <%= form_tag(controller:"books",action:"index") do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索',:name => nil %>
  <% end %>

<h1>BOOK LIST</h1>
<%@my_books.each do |my_book|%>
  <%book_image = my_book.book_image_url%>
  <%=my_book.book_name%>
  <%if book_image%>
    <%= link_to "/books/#{my_book.book_id}" do%>
      <%=image_tag(book_image)%>
    <%end%>
  <%else%>
    <%=image_tag("no_image.jpg")%>
  <%end%>
  <%= link_to("削除","/books/#{my_book.book_id}/destroy", {method: "post",:class => "btn btn-danger"})%>
<%end%>
