<div class="search-form">
        <h3 class="text-center font-weight-bold">アーティスト名で検索</h3>
          <%= form_tag(controller:"musics",action:"index") do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索',:name => nil%>
          <% end %>
</div>


<div class="list-index">
  <h1>MUSIC LIST</h1>
  <%@user.my_musics.each do |my_music|%>
    <%artist = RSpotify::Artist.find(my_music.artist_id)%>
    <%=artist.name%>
    <% if artist.images.any?%>
      <%image = artist.images[2]%>
      <%=link_to "/musics/#{artist.id}" do%>
        <%=image_tag image["url"]%>
      <%end%>
    <%else%>
      <%=image_tag("no_image.jpg")%>
    <%end%>
    <%= link_to("削除","/musics/#{artist.id}/destroy", {method: "post",:class => "btn btn-danger"})%>
  <%end%>
</div>
