<%author = @book["items"][0]["volumeInfo"]["authors"]%>
<%publisher = @book["items"][0]["volumeInfo"]["publisher"]%>
<%img_url = @book["items"][0]["volumeInfo"]["imageLinks"]["smallThumbnail"]%>
<%id = @book["items"][0]["id"]%>
<%book_id = id.encode!%>

<%=@book["items"][0]["volumeInfo"]["title"]%>

<%if author%>
  <p class="card-text"><%=author[0]%></p>
<%else%>
  <p class="card-text"><%=publisher%></p>
<%end%>

<% if img_url%>
    <%=image_tag(img_url)%>
<%else%>
  <%=image_tag("no_image.jpg")%>
<%end%>

<%= link_to("リストに追加する","/books/#{book_id}/create", {method: "post"})%>
