<!DOCTYPE html>
<html>
  <head>
    <title>FAV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse sticky-top">
      <div class="header-logo">
        <%if user_signed_in?%>
          <%=link_to "F A V","/users/#{current_user.id}",class: "logo"%>
        <%else%>
          <%= link_to "F A V", root_path, class: "logo"%>
        <%end%>

        <!-- jQueryでスクロールアニメーション -->
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- ログインしたときのヘッダー -->
      <% if user_signed_in? %>
        <li>
          <%=link_to("MY PAGE","/users/#{current_user.id}")%>
        </li>
        <li>
          <%=link_to("ログアウト",destroy_user_session_path, :method => :delete)%>
        </li>
      <% else %>
        <li>
          <%= link_to "F A Vとは？",'#'%>
          <!-- jQueryでスクロールアニメーションをつける -->
        </li>
        <li>
          <%=link_to "新規登録",new_user_registration_path%>
        </li>
        <li>
          <%=link_to "ログイン",new_user_session_path%>
        </li>
      <%end%>
      </ul>
    </header>
    <%= yield %>

  </body>
</html>
